body {
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

h1 {
    font-size: 1.8em; /* Adjust this value to make the title smaller or larger */
    text-align: center;
}

.supplier {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.supplier h2 {
    margin-top: 0;
}

.medication-list {
    list-style-type: none;
    padding: 0;
}

.medication-list li {
    margin-bottom: 5px;
}

.button-container {
    text-align: center;
    margin-top: 0px;
}

.myButton {
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    background-color:#768d87;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
    margin-bottom: 30px;
}
.myButton:hover {
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color:#6c7c7c;
}
.myButton:active {
    position:relative;
    top:1px;
}